* {
    font-family: 'Do Hyeon', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

h1 {
    font-size: 65px;
    /* font-weight: 5px; */
}

.contents1 {
    font-size: 35px;
    font-weight: lighter;
    /* background-color: green; */
}

.contents2 {
    font-size: 20px;
    /* background-color: red; */
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
    /* background-color: blue; */
}

.contents1_bold {
    font-size: 30px;
    font-weight: bold;
}

/* ------------------- */


.intro_bg {
    background-image: url("image/intro.jpeg");
    width: 100%r;
    height: 718px;
}

.header {
    /* 해더 */
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
    font-size: 30px;
    /* background-color: red; */
}

.search_area {
    /* 검색창 */
    width: 350px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    /* background: green; */
    border-radius: 5px;
    margin-top: 24px;
    color: #fff;
    padding-left: 10px;

}

.search_area>form>input {
    /* 검색의 입력칸 */
    border: none;
    width: 250px;
    height: 40px;
    margin: 5px 20px 0px 0px;
    background: rgba(0, 0, 0, 0.0);
    /* background-color: red; */
    font-size: 20px;
    color: #fff;
    padding-left: 15px;

}

.search_area>form>span {
    /* 검색글꼴 */
    width: auto;
    color: #fff;
    /* color: blue; */
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;

}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    margin-top: 7px;
    /* background-color: red; */
}

.nav>li {
    /* 해더의 네비간격 */
    margin-left: 84px;
}

.nav>li>a {
    /* 헤더의 네비색상 */
    color: #fff;
}

.intro_text {
    /* 배경의 문자구역 */
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(718px - 86px); */
    /* background: red */
}

.intro_text>h1,
.intro_text>h4 {
    /* 배경의 문자색상 */
    color: #fff;
}

.amount {
    display: flex;
    background: #fff;
    position: relative;
    top: -66px;
    width: 1280px;
    height: 132px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount>li {
    /* 배경의 하단 문자구역 */
    display: flex;
    flex: 1px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 132px;
    font-size: 25px;
    /* background: green; */
}

.amount>li:not(:last-child)>p {
    /* 배경의 하단 문자 구역나누는 선 */
    border-right: 5px solid #e1e1e1;
}

/* main_text0 */
.main_text0 {
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #f1f2f3;
}

.main_text0>h1 {
    padding-top: 116px;
    text-align: center;
}

.main_text0>.contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width: 1280px;
    height: 302px;
    /* background: red; */
    margin: auto;
    /* background-color: green; */
}

.icons>li {
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
    /* background-color: blue; */
}

.icons>li>.icon_img {
    /* incon 이미지높이 */
    margin-top: 20px;
}

.icons>li:not(:last-child) {
    margin-right: 20px;
}

.icons .contents2 {
    width: 190px;
    margin: auto;
    /* background-color: red; */
}

.icons .context1 {
    width: 300px;
    margin: auto;
    /* background-color: red; */
    font-size: 20px;
}

.more button {
    width: 80px;
    height: 30px;
    background: #2f7af4;
    color: #ffff;
    font-size: 20px;
    line-height: 30px;
    margin: 7px auto;
    /* margin-bottom: 1px; */
}

/* .more {
    width: 80px;
    height: 30px;
    background: #2f7af4;
    color: #ffff;
    font-size: 20px;
    line-height: 30px;
    margin: 7px auto;
    /* margin-bottom: 1px; */
}

*/
/* main_text1 */

.main_text1 {
    width: 100%;
    height: 659px;
}

.main_text1>h1 {
    padding-top: 50px;
    text-align: center;
}

.main_text1>.contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
    /* background: skyblue; */
}

.service>.contents2 {
    padding: 20px;
}

.service>.contents2 {
    margin-bottom: 27px;
}

.service.photo {
    /* border-radius: 10px; */
}

/* main_text2 */
.main_text2 {
    width: 100%;
    height: 418px;
    background-image: url("image/contact.png");
}

.main_text2>ul {
    display: flex;
    padding-top: 138px;
}

.main_text2>ul>li {
    flex: 1;
    text-align: center;
    font-size: 25px;
}

.main_text2>ul>li>div>h1,
.main_text2>ul>li>div {
    color: #fff;
}

.more2 button {
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    line-height: 49px;
    margin: 20px auto;
    cursor: pointer;
    background: red;
    font-size: 25px;
    /* border-shadow: red; */
}

/* footer */
footer {
    display: flex;
    background: #1f1f1f;
    padding: 30px;
    font-size: 30px;
}

footer>div:first-child {
    flex: 5;
    text-align: center;
    color: #fff;
    /* background: red; */
}

footer>div:last-child {
    flex: 7;
    color: #fff;
    /* background: blue; */
}

/* footer */