*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
cursor: pointer;
}
header {
  margin: auto;
  width: 1190px;
  display: flex;
  align-items: center;
  position: relative;
}
fieldset {
  border: none;
}
.links {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 10px;
  margin-left: 5px;
}

.img_logo {
  border-color: red;
  margin: 40px 20px 40px 30px;
  width: 200px;
  height: 45px;
  background-image: url(image/ys/sp-bg.png);
  background-position: 0px -145px;
  background-size: 410px;
}
.search_box {
  width: 520px;
  height: 50px;
  border: 2px solid #03cf5d;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.search_box input {
  flex: 9;
  height: 46px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  font-size: 18px;
}
.search_box button {
  flex: 1;
  height: 46px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: #03cf5d;
  color: #fff;
}

header > nav {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}
.hnav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 0px solid #f1f3f6;
  box-shadow: 0px 0px 2px gray;
}
.hnav ul > li {
  display: inline-block;
  margin-left: 8px;
}

.hnav ul > li:nth-child(-n + 8) > a {
  color: #03cf5d;
}
.hnav .btn-nav-more {
  float: right;
  margin-left: 17px;
  font-size: 13px;
  line-height: 30px;
  color: gray;
  font-weight: 500;
  text-align: right;
}
